@import "../../scss/variables";

.NoteItem {
  padding: 5px;
  border: 1px solid transparent;
  position: relative;
  margin-right: -6px;

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    background: none;
  }

  &:hover {
    .NoteItem-delete {
      display: block;
    }
  }
}

.NoteItem--active {
  border: 1px solid $border-color;
  border-right: $note-background;
  background: $note-background;
}

.NoteItem-delete {
  position: absolute;
  right: 6px;
  top: 5px;
  font-size: 16px;
  display: none;
  cursor: pointer;

  &:hover {
    color: blue;
  }
}
